<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A-Team Consulting</title>
    @Styles.Render("~/Content/StyleATeam")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/StyleATeam.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            @Html.ActionLink("A-Team Consulting", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Start", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Om oss", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Kontakta oss", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logga in</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 45px, 0px);">
                            <a class="dropdown-item bg-light" href='@Url.Action("FreelancerLogIn", "LogIn")'>Frilansare</a>
                            <a class="dropdown-item bg-light" href='@Url.Action("EmployerLogIn", "LogIn")'>Arbetsgivare</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="page-footer font-small bg-primary">
        <div class="footer-icons">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <img src="~/Content/Pictures/facebook1.png" alt="Icon image">
            <img src="~/Content/Pictures/googleplus.png" alt="Icon image">
            <img src="~/Content/Pictures/twitter1.png" alt="Icon image">
            <img src="~/Content/Pictures/youtube1.png" alt="Icon image">

            <p>&nbsp;</p>
            <p>Copyright &copy; A-team Consulting 2019</p>
        </div><br>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
