@model GruppAKonsult.Models.Skills

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skills</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JavaScript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JavaScript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Java)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Java)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C__)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C__)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JQuery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JQuery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTML)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTML)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SQL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SQL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freelancer.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freelancer.Firstname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
