@model GruppAKonsult.ViewModels.EmployerFindViewModel
@{
    ViewBag.Title = "EmployerFind";
}

@using (Html.BeginForm("EmployerFind", "Employer", FormMethod.Post))
{
    <div class="col-md-10">
        <br>
        <h3 class="card-header">Sök kandidat</h3><br />
        <div class="row">
            <div class="form-group col-md-2">
                <label class="control-label">Yrkesområde</label><br />
                <div>
                    @if (Model.ProfessionList != null)
                    {
                        @Html.DropDownListFor(m => m.SelectedProfession, Model.ProfessionList, new Dictionary<string, object> { { "class", "form-control" } })
                    }
                </div>
            </div>
            <br>
            <div class="form-group col-md-2">
                <label class="control-label">Kompetenser</label><br />
                <div>
                    @if (Model.SkillsList != null)
                    {
                        @Html.DropDownListFor(m => m.SelectedSkill, Model.SkillsList, new Dictionary<string, object> { { "class", "form-control" } })
                    }
                </div>
            </div>
            <br>
            @*<div class="form-group col-md-2">
                <label class="control-label">Språk</label><br />

                @if (Model.LanguageList != null)
                {
                    @Html.DropDownListFor(m => m.SelectedLanguage, Model.LanguageList, new Dictionary<string, object> { { "class", "form-control" } })
                }
            </div>
            <div class="form-group col-md-2">
                <label class="control-label">Stad</label><br />

                @if (Model.CityList != null)
                {
                    @Html.DropDownListFor(m => m.SelectedCity, Model.CityList, new Dictionary<string, object> { { "class", "form-control" } })
                }
            </div>*@
            <div class="form-group col-md-2">
                <br>
                <a>
                    <input type='submit' class="btn btn-primary btn-lg" value='SÖK' />
                </a>
            </div>
        </div>
    </div>
    <br>


    @*<div class="row">
            <div class="col-4">

                <div class="form-group">
                    <label class="control-label">City</label>
                    <div>
                        @if (Model.CityList != null)
                        {
                            @Html.DropDownListFor(m => m.SelectedCity, Model.CityList, new Dictionary<string, object> {{"class", "form-control"}})
                        }
                    </div>
                </div>
            </div>




        </div>*@




    @*<div class="col-md-1">

            <br/><br/>
            <a>
                <input type='submit' class="btn btn-primary btn-lg" value='SÖK'/>
            </a>
        </div>*@

    <div class="row">
        <div class="col-md-10">
            <h3 class="card-header">Resultat</h3>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            <h5 class="card-title">Förnamn</h5>
                        </th>
                        <th>
                            <h5 class="card-title">Efternamn</h5>
                        </th>
                        <th>
                            <h5 class="card-title">Yrke</h5>
                        </th>
                        <th>
                            <h5 class="card-title">Kompetens</h5>
                        </th>
                        @*<th>
                    <h5 class="card-title">Språk</h5>
                </th>*@
                        @*<th>
                    <h5 class="card-title">Stad</h5>
                </th>*@
                        <th></th>
                    </tr>


                    @if (Model.SearchResults != null && Model.SearchResults.Any())
                    {
                        foreach (var item in Model.SearchResults)
                        {
                            <tr>
                                <td>
                                    @item.Firstname
                                </td>
                                <td>
                                    @item.Lastname
                                </td>
                                <td>
                                    @item.Professions
                                </td>
                                <td>
                                    @item.Skills
                                </td>
                                @*<td>
                            @item.Languages
                        </td>*@
                                <td></td>
                                <th></th>
                            </tr>
                        }

                    }
                </table>
                <a href='@Url.Action("ProfileFreelancer", "UpdatedCV")'>
                    <input id="ShowProfileBtn" type='submit' class="btn btn-primary btn-lg" value='Visa profil' />
                </a>
            </div>
        </div>
    </div>

}



