@model IEnumerable<GruppAKonsult.Models.Employer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Companyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Companyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phonenumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Employer_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Employer_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Employer_Id })
        </td>
    </tr>
}

</table>
